[color]
	ui = true
[alias]
	s = status -s
	b = branch
	ifuckedup = commit --amend
	l = log --oneline -n 20
	lf = diff-tree --no-commit-id --name-only -r
	lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
	vdiff = difftool --tool=vimdiff
	ignorelocal = git update-index --assume-unchanged
    stat = show --stat
[user]
	name = Moiz Merchant
	email = moiz@electronicdreams.io
[push]
    default = current
[core]
    editor = vim
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[http]
	sslVersion = tlsv1.2
	sslbackend = openssl

# notes

# git rebase HEAD~4 --onto master
#   will rebase 4 top commits of the current branch and rebase it on top of master
#
#   a   b   c
#   o---o---o - master
#        \
#         o---o---o---o - work
#         d   e   f   g
#
#
#   a   b   c   d   e   f   g
#   o---o---o---o---o---o---o - work
#           |
#         master
#
