[color]
	ui = true
[alias]
	s = status -s
	b = branch
	ifuckedup = commit --amend
	l = log --oneline -n 20
	lsd = log --graph --decorate --pretty=oneline --abbrev-commit --all
	vdiff = difftool --tool=vimdiff
	ignorelocal = git update-index --assume-unchanged
[user]
	name = Moiz Merchant
	email = moiz@electronicdreams
